<!doctype html>
<html lang="en">
  <head>
    <title>Login page for FSAE Race Car Data Logger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section class="Login">
        <div class="container">
            <a class="button is-info is-rounded is-active" href="/auth/google">Sign In with Google</a>
        </div>
    </section>
    
  </body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  
</html>

